@import "variables";
@import "timeline";

.content {
    a:hover {
        text-decoration: underline;
    }

    ol {
        counter-reset: list;
        padding: 0 30px 0 30px;

        & > li {
            list-style-position: none;
            position: relative;
            list-style: none;
            margin-top: 5px;
            margin-bottom: 5px;
        }

        & > li:before {
            content: "[" counter(list, decimal) "] ";
            counter-increment: list;
            position: absolute;
            left: -30px;
        }
    }

    ul {
        padding: 0 20px 0 20px;;
        
        & > li {
            margin: 5px 0 5px 0;
        }
    }


    blockquote {
        //border: 1px solid black;
        border-left: 5px solid #333333;
        margin: 20px 0 20px 0;
        padding: 2px 8px 2px 8px;
        font-style: italic;
    }

    .picture-column {
        width: 35%;
        float: left;
        // margin-right: 30px;
        // position: relative;
        .profile-picture {
            // height: $image-size;
            // width: $image-size;
            object-fit: contain;
            width: 15%;
            height: 15%;
            // position: absolute;
            // margin: 50px 0 0 140px;

            padding: 10px 0 0 20px;
            // padding-right: 10vw;
            border-radius: 50%;

            p & {
                padding: 0;
                margin: 0;
            }

            @media (max-width: 1016px) {
                margin: 0 auto; // center picture in middle of screen
                float: unset;
                text-align: center;
                padding: 0 0 0 0;

                img {
                    margin-top: 10px;
                }
            }
        }
        @media (max-width: 1016px) {
            margin: 0 auto; // center picture in middle of screen
            float: unset;
            text-align: center;
            width: 100%
        }
    }

    .force-in-line{
        display: block;
    }

    .fa {
        padding: 20px 0px 0px 20px;
        margin-top: 5px;// increase spacing vertical spacing between icons
    }

    .fa-github {
        color: black;
        display: inline;
        // padding: 5px 0px 0px 10px;
      }
    .fa-linkedin-square {
        color: black;
        display: inline;
        // padding: 5px 0px 0px 10px;
      }
    .fa-file {
        position: relative;
        // right: -7px;
        // top: -6px;
        color: black;
        display: inline;
        // padding: -40px 20px 0px 0px;
        // margin-top: -20px;
        font-size: 1.5rem;
        // margin: 5px 0px 10 0px; // add some padding since looks off
    }

    // For columns in site

    .column {
        // float: left;
        // position: relative;
        // overflow: hidden;
        margin: 0 auto;
        text-align: center;
    }

    // .picture-column {
    //     width: 35%;
    // }

    .text-column { 
        float: right;
        width: 65%;
        // position: absolute;
        @media (max-width: 1016px) {
            margin: 0 auto; // center picture in middle of screen
            // float: unset;
            text-align: left;
            width: 100%
        }
    }

    @media (max-width: 1016px) {
        flex-direction: column;
    }

}
