<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}

    <!-- <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'> -->
    {% include fonts.html %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="/feed.xml" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"> 
</head>
<body>
    <div class="wrapper">
        <header class="navbar">
            <nav class="container" role="navigation" aria-label="Main navigation">
                <a class="navbar-title alignable pull-left" href="{{ "/" | absolute_url }}">{{ site.title }}</a>
                {% if site.show_downloads %}
                <div class="downloads">
                    <a class="downloads-item" href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a>
                    <a class="downloads-item" href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a>
                    <a class="downloads-item" href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a>
                </div>
                {% endif %}

                {% include nav.html %}
            </nav>
        </header>



        <main class="content">
          <div class="column picture-column">
            <div class="profile-picture">
              <img src="./assets/img/MasonPhoto.jpg" alt="photo" width="250"/>
                <div class="force-in-line">
                    <a href="https://github.com/MasonN808"> <i class="fa fa-github fa-2x"></i>&nbspGitHub</a>
                    <a href="https://www.linkedin.com/in/mason-n-789196197/"> <i class="fa fa-linkedin-square fa-2x"></i>&nbsplinkedin</a>
                    <a href="https://drive.google.com/file/d/1EatXBFcPfavdq_Rjz6vxxT_LopsOoaCz/view?usp=sharing"> <i class="fa fa-file fa-2x"></i>&nbspCV</a>
                </div>
            </div>
          </div>
          <div class="column text-column">
            <div class="container">
            {{ content }}
            </div>
            <!-- TIMELINE START -->
              <div class="timeline-area">
                <div class="container">
                  <div class="timelines">
                    <h2>Event Timeline</h2>
                  </div>
                  <div class="all-timelines">
                    <!--SINGLE TIMELINE-->
                    <div class="single-timeline d-flex-2">
                      <div class="timeline-blank"></div>
                      <div class="timeline-text d-flex-2">
                        <span>
                          <h6>May 2022</h6> Starting position as visiting scholar at the Center for Human-Compatible AI (CHAI) at UC Berkeley
                          under the supervision of Dr. Justin Svegliato (<A HREF="https://justinsvegliato.com/">link</A>). See <A HREF="another-page-2">research blog</A> for some cool stuff.
                        </span>
                        <div class="t-square"></div>
                      </div>
                    </div>
                    <!--SINGLE TIMELINE-->
                    <div class="single-timeline d-flex-2">
                      <div class="timeline-blank"></div>
                      <div class="timeline-text d-flex-2">
                        <span>
                        <h6>March 2022</h6> Our paper on Counting Triangles with Combinatorics was <b>accepted</b> into MAA Mathematics Magazine
                        </span>
                        <div class="t-square"></div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </main>

        

		{% if site.footer %}
        <footer class="footer">
            <div class="container">
                <p>
                    <a href="{{ site.footer_url }}">
                        <small>{{ site.footer }}</small>
                    </a>
                </p>
            </div>
        </footer>
        {% endif %}
            
    </div>

    {% include analytics.html %}
</body>
<footer>
</footer>
